/**/

.ctn {
    margin: auto;
    height: 100px;
    width: 100%;
    display: flex;
}


.content {
    background-color: #7B68EE;
    width: 500px;
    height: 500px;
    border-radius: 20px;
    margin: auto;

    padding-top: 80px;
    padding-left: 50px;

    color: white;

}

#btn{
    width: 200px;
}

.content input {
    color: white;
    font-size: 18px;
    width: 230px;
}

.content input::placeholder{
    color: white;
}
